@import 'shared/reset';
@import 'shared/colors';
@import 'shared/shadows';
@import 'shared/fonts';
@import 'shared/header';
@import 'index/location';
@import 'index/howto';
@import 'index/restaurantscards';
@import 'shared/footer';
@import 'shared/heart';

