.restaurants__menu {

    width: 100%;
    background-color: $white-2;
    padding: 25px 17px 66px 17px;
    border-radius: 25px;
    margin-top: -75px;
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 40px;
    box-sizing: border-box;

    .title__heart {
        width: 100%;
        border: 0 17px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        gap: 24px;

        h2 {
            display: block;
            font-family: $font_logo;
            font-size: 28px;
            padding-left: 4px;
        }

        .heart__icon {
            width: 20px;
            height: 21px;
            font-size: 11px;
        }
    }

    .menu {
        display: flex;
        flex-direction: column;
        align-self: center;
        gap: 12px;
        box-sizing: border-box;
        max-width: 350px;
        width: 100%;
        opacity: 0;

        .h3title {
            display: block;
            font-family: $font-generic;
            font-size: 16px;
            font-weight: 300;


            &:after {
                content: "";
                display: block;
                // Underline width
                width: 40px;
                // Underline color
                border-bottom: 3px solid $green-1;
                // Underline position
                margin-top: 5px;

            }
        }

        .flex__tile {
            display: flex;
            justify-content: space-between;
            align-items: center;
            align-items: flex-end;
            width: 100%;
            height: 69px;
            padding: 15px;
            border-radius: 15px;
            background-color: $white-1;
            box-shadow: $shadow_menu;
            position: relative;
            box-sizing: border-box;
            overflow: hidden;
            opacity: 0;

            .ellipsis {

                overflow: hidden;
                display: flex;
                flex-direction: column;
                align-content: space-between;

                h3,
                h4 {
                    font-family: $font-generic;
                    display: inline-block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                h3 {
                    font-size: 18px;
                    font-weight: 500;

                }

                h4 {
                    font-size: 15px;
                    font-weight: 300;
                }

            }

            .price {
                font-family: $font-generic;
                font-size: 15px;
                font-weight: 700;
                color: $grey-1;
                display: flex;
                align-items: end;
                margin-left: 15px;
                transition: 0.3s ease;
            }

            .icon {
                color: $white-1;
                width: 60px;
                height: 100%;
                background-color: $green-1;
                position: absolute;
                top: 0;
                right: -60px;
                transition: transform 0.3s ease;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: 0.3s ease;
            }

            &:hover .price {
                margin-right: 60px;
            }

            &:hover .icon {
                right: 0;
            }

            &:hover .ellipsis {
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    .btn {
        display: flex;
        justify-content: center
    }

}

// Animation

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

// restaurants__menu > menu > flex__tile

.restaurants__menu .menu {
    animation: slideIn 0.7s forwards;
}

.restaurants__menu .menu:nth-child(2){
    animation-delay: 0.4s;

        .flex__tile {
            animation: slideIn 0.2s forwards;
        }
        
        .flex__tile:nth-child(2) {
            animation-delay: 0.4s;
        }
        
        .flex__tile:nth-child(3) {
            animation-delay: 0.6s;
        }
        
        .flex__tile:nth-child(4) {
            animation-delay: 0.8s;
        }
        
        .flex__tile:nth-child(5) {
            animation-delay: 1s;
        }
}

.restaurants__menu .menu:nth-child(3) {
    animation-delay: 1.2s;

        .flex__tile {
            animation: slideIn 0.4s forwards;
        }
        
        .flex__tile:nth-child(2) {
            animation-delay: 1.4s;
        }
        
        .flex__tile:nth-child(3) {
            animation-delay: 1.6s;
        }
        
        .flex__tile:nth-child(4) {
            animation-delay: 1.8s;
        }
        
        .flex__tile:nth-child(5) {
            animation-delay: 2s;
        }
}

.restaurants__menu .menu:nth-child(4) {
    animation-delay: 2.2s;

        .flex__tile {
            animation: slideIn 0.4s forwards;
        }
        
        .flex__tile:nth-child(2) {
            animation-delay: 2.4s;
        }
        
        .flex__tile:nth-child(3) {
            animation-delay: 2.6s;
        }
        
        .flex__tile:nth-child(4) {
            animation-delay: 2.8s;
        }
        
        .flex__tile:nth-child(5) {
            animation-delay: 3s;
        }
}

// Media section

@media (min-width: 1080px) {
    .restaurants__menu {
        width: 1055px;
        justify-content: center;
        align-items: center;
        margin-top: -30px;

        .title__heart {
            justify-content: center;
            gap: 24px;
        }

        .menu {
            width: 634px;
            align-content: center
        }
    }
}