.restaurants__menu {

    width: 100%;
    background-color: $white-2;
    padding: 25px 17px 66px 17px;
    border-radius: 25px;
    margin-top: -40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    gap: 40px;
    box-sizing: border-box;

    .title__heart {
        width: 100%;
        border: 0 17px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;


        h2 {
            display: block;
            font-family: $font_logo;
            font-size: 28px;
            padding-left: 4px;
        }

        .heart__icon {
            width: 20px;
            height: 21px;
            font-size: 11px;
        }
    }

    .menu {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 12px;
        box-sizing: border-box;

        h3 {
            display: block;
            font-family: $font-generic;
            font-size: 16px;
            font-weight: 300;


            &:after {
                content: "";
                display: block;
                // Underline width
                width: 40px;
                // Underline color
                border-bottom: 3px solid $green-1;
                // Underline position
                margin-top: 5px;

            }
        }

        .flex__tile {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 69px;
            padding: 15px;
            border-radius: 15px;
            background-color: $white-1;
            box-shadow: $shadow_menu;
            transition: all 0.3s ease;
            position: relative;
            box-sizing: border-box;
            overflow: hidden;

            .ellipsis {
                flex: 1;
                overflow: hidden;

                h3 {
                    font-family: $font-generic;
                    font-size: 18px;
                    font-weight: 500;


                    &:after {
                        all: inherit;
                    }
                }

                h4 {
                    font-family: $font-generic;
                    font-size: 15px;
                    font-weight: 300;
                    
                }

            }

            .price {
                font-family: $font-generic;
                font-size: 15px;
                font-weight: 700;
                color: $grey-1;
                display: flex;
                align-items: end;
                margin-left: 15px;
                transition: transform 0.3s ease;
            }
        }

        .flex__tile::before {
            content: "\f058";
            font-family: "Font Awesome 6 Free";
            color: $white-1;
            width: 60px;
            height: 100%;
            background-color: $green-1;
            position: absolute;
            top: 0;
            right: -60px;
            transition: transform 0.3s ease;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        

        .flex__tile:hover .price {
            transform: translateX(-60px);
        }

        .flex__tile:hover::before {
            transform: translateX(-60px);
        }

        .flex__tile:hover .ellipsis {
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }







}






@media (min-width: 1080px) {
    .restaurants__menu {
        flex-direction: row;
    }
}