.restaurant__img {
    z-index: -1;
    width: 100%;
    height: 275px;
    position: relative;
    object-fit: cover;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    
    img {
        width: 100%;
        height: auto;
        position: absolute;
        top: 50%;
        transform: translateY(-60%);

    }

    @media (min-width: 1080px) {
        height: 400px;

        img {
            transform: translateY(-50%);
        }
        
    }
}
