.restaurant__img {
    z-index: -1;
    width: 375px;
    height: 275px;
    position: relative;
    object-fit: cover;
    overflow: hidden;

    img {
        width: 100%;
        height: auto;
        position: absolute;
        
        &.portrait {
            transform: translateY(-25%);
        }
    }
}
