footer {
    width: 100%;
    padding: 22px 25px;
    color: $white-1;
    background: $grey-1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;

    h2 {
        font-family: $font-logo;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .footermenu {
        width: 100%;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-start;

        a {
            color: $white-1;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            gap: 11px;
            text-decoration: none;

            &.large {
                width: 191px;
            }

            &.smal {
                width: 153px;
            }

            i {
                font-size: 13px;
                width: 13px;
            }

            h3 {
                font-family: $font-generic;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
        }
    }

}

@media (min-width: 1080px) {
    footer {
        box-sizing: border-box;
        padding: 30px 25px;
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: flex-end;

        .footermenu {
            flex-direction: row;
            justify-content: flex-end;

            gap: 7px;

        }

    }




}