.header {
    width: 100%;
    padding: 14px 89px 13px 17px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 42px;


    .backbtn {
        width: 30px;
        font-size: x-large;
        margin: 0;
        padding: 0;
        border: none;
        background-color: $white-1;
    }


    a {
        padding: 0 19px 0 16px;
        color: $black-2;
        text-decoration: none;
        font-family: $font-logo;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    @media (max-width: 1079px) {
        .imglogo {
            display: none;
        }
    }

    @media (min-width: 1080px) {
        .txtlogo {
            display: none;
        }
    }
}