$dot-count: 26;
$dot-size: 10px;
$dot-space: 15px;
$dot-start: calc((($dot-count / 2 + 1) * ($dot-size + $dot-space)) / 2);

$animation-time: 2s;
$animation-distance: 25px;

@keyframes disappearance {
    0% { opacity: 1; }
    100% { opacity: 0; display: none; }
}

.loader {
    z-index: 9998;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, $violet 1%, $transition_loader 22%, $pink 51%, $transition_loader 83%, $violet 100%);
    animation-name: disappearance;
    animation-duration: 1s; /* transition time */
    animation-delay: 1s; /* transition delay after start */
    animation-fill-mode: forwards;

    .dots {
        z-index: 9999;
        position: absolute;
        top: 50%;
        left: 50%;

        .dot {
            animation-name: movement;
            animation-duration: $animation-time;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
            height: $dot-size;
            position: absolute;
            top: -#{$dot-size};
            transform: translate3d(0, -#{$animation-distance}, 0) scale(1);
            width: $dot-size;

            @for $i from 1 through $dot-count {
                $dot-move: calc($i / 2);
                $dot-pos: $dot-start - (($dot-size + $dot-space) * $dot-move);

                $animation-delay: -#{$i * .1}s;

                @if $i % 2==0 {
                    $animation-delay: -#{($i * .1) + (calc($animation-time / 2))};
                }

                &:nth-of-type(#{$i}) {
                    animation-delay: $animation-delay;
                    left: $dot-pos;

                    &::before {
                        animation-delay: $animation-delay;
                    }
                }
            }

            &::before {
                animation-name: size-opacity;
                animation-duration: $animation-time;
                animation-iteration-count: infinite;
                animation-timing-function: ease;
                background: $white-1;
                border-radius: 50%;
                content: '';
                display: block;
                height: 100%;
                width: 100%;
            }

            &:nth-of-type(even)::before {
                background-color: $violet;
                box-shadow: inset 0 0 4px darken($violet, 10%);
            }
        }
    }

    @keyframes movement {
        0% {
            transform: translate3d(0, -#{$animation-distance}, 0);
            z-index: 0;
        }

        50% {
            transform: translate3d(0, #{$animation-distance}, 0);
            z-index: 10;
        }

        100% {
            transform: translate3d(0, -#{$animation-distance}, 0);
            z-index: -5;
        }
    }

    @keyframes size-opacity {
        0% {
            opacity: 1;
            transform: scale(1);
        }

        25% {
            transform: scale(1.5);
        }

        50% {
            opacity: 1;
        }

        75% {
            opacity: .35;
            transform: scale(.5);
        }

        100% {
            opacity: 1;
            transform: scale(1);
        }
    }
}