.howto {
    font-family: $font-generic;
    width: 100%;
    height: 440px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 26px;

    h2 {
        display: flex;
        justify-content: flex-start;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        gap: 25px;

        .stepstiles {
            width: 334.5px;
            height: 72.5px;
            position: relative;
            display: flex;
            flex-direction: column;


            .circle {
                color: $white-1;
                position: absolute;
                margin-top: 24px;
                margin-left: 0px;
                z-index: 1;
                width: 24px;
                height: 24px;
                background: $violet;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
            }

            a {
                text-decoration: none;
                color: $black-1;

                .tiles {
                    width: 322.5px;
                    height: 72.5px;
                    background-color: $white-2;
                    padding: 0 35.5px;
                    border-radius: 20px;
                    position: absolute;
                    margin-top: 0px;
                    margin-left: 12px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 27px;
                    box-sizing: border-box;
                    box-shadow: $shadow_howto;
                    transition: all 0.5s;

                    i {
                        width: 13px;
                    }
                }

                & :hover {
                    color: $violet;
                    box-shadow: $shadow_howto_hover;
                }
            }
        }
    }
}

@media (min-width: 1080px) {
    .howto {
        height: 128px;
        padding: 50px 180px;
        gap: 25px;

        .container {
            flex-direction: row;

            .stepstiles {
                flex-direction: row;
                gap: 36.5px;
            }
        }
    }




}