.restaurants {
    width: 100%;
    background-color: $White-2;
    padding: 54px 17px 66px 17px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 25px;
    box-sizing: border-box;

    h2 {
        padding-left: 3px;
    }

    .restaurants__cards {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        gap: 18px;

        .card {
            z-index: 0;
            width: 340px;
            height: 251px;
            border-radius: 15px;
            background-color: $white-1;
            background-size: contain;
            background-repeat: no-repeat;
            background-position-y: -53px;
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
            position: relative;

            &.one {
                background-image: url(/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
            }

            &.two {
                background-image: url(/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
                background-size: cover;
                background-position-x: center;
                background-position-y: 88%;
            }

            &.three {
                background-image: url(/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
            }

            &.four {
                background-image: url(/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
            }

            .txts {
                box-sizing: border-box;
                width: 100%;
                height: 77px;
                background-color: $white-1;
                border-radius: 0 0 15px 15px;
                position: absolute;
                bottom: 0;
                padding-left: 13px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 5px;

                @media (min-width: 1080px) {}

                h3 {
                    width: 267px;
                    height: 20px;
                    font-family: $font-generic;
                    font-size: 18px;
                    font-weight: 700;
                }

                h4 {
                    width: 247px;
                    height: 24px;
                    font-family: $font-generic;
                    font-size: 17px;
                    font-weight: 300;

                }
            }

            .heart__icon {
                width: 20px;
                height: 21px;
                margin: 0;
                font-size: 11px;
                position: absolute;
                bottom: 30px;
                right: 25px;
            }


        }
    }
}